@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&display=swap');
header{
    background-color:#393449;
    text-align: center;
    display: flex;
    height: 10vh;
    align-items:center;
    color:#C6BFDC;
    justify-content:center;
    font-family: 'Cormorant Garamond', serif;
}
body{
    margin: 0%;
    text-align:start;
    justify-content:flex-end;
    align-items:center;
    display:inline;
    background-color:#373668;
}
.introd{
    color:#7383A2;
    text-align:center;
}
.qualidades{
    text-align:left;
    color:#C6BFDC;
    font-family: 'Cormorant Garamond', serif;
}
.pontos{
    text-align: left;
    color:#ef9a75;
}
#Isabela{
    width: 200px;
    border-radius: 10%;
    border: solid 2px;
    border-color: cornflowerblue;
    justify-content: center;
    align-items: center;
}
.grad{
    font-family: 'Cormorant Garamond', serif;
    color:#C6BFDC;
}
.pontecos{
    color:#ef9a75;
}
.choripan{
    display: flex;
    align-items: center;
    font-family: 'Inconsolata', monospace;
}
.batata{
    display:flex;
    gap: 350px;
}